= render 'shared/error_messages', :object => f.object 
- unless @user.new_record?
  .field
    = f.label :current_password, "Current Password"
    %br
    = f.password_field :current_password
.field
  = f.label :name
  %br
  = f.text_field :name
.field
  = f.label :username
  %br
  = f.text_field :username
.field
  = f.label :email
  %br
  = f.text_field :email
.field
  = f.label :password, "#{@user.new_record? ? '' : 'New ' }Password"
  %br
  = f.password_field :password
.field
  = f.label :password_confirmation, "Password Confirmation"
  %br
  = f.password_field :password_confirmation
%br
